@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #21232c;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.center-text {
  text-align: center;
}

.button-main {
  background-color: #e94e1b;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  width: fit-content;
  padding: 7px 25px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.m {
  &-t {
    &-5 {
      margin-top: 5px;
    }

    &-10 {
      margin-top: 10px;
    }

    &-15 {
      margin-top: 15px;
    }
  }
}

.flex {
  display: flex;
  &-row {
    flex-direction: row !important;

    &-reverse {
      flex-direction: row-reverse !important;
    }
  }

  &-col {
    flex-direction: column !important;

    &-reverse {
      flex-direction: column-reverse !important;
    }
  }

  &-align {
    &-f-end {
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 1000px) {
  .center-div-md-m {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
  }
}
