@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  overflow: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #21232c;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #21232c;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 25px;
}
